.icon path{
  fill: var(--main-white);
}

.login {
  padding: var(--size3);
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.login form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--size4);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: var(--size3);
}

.footer {
  display: flex;
  flex-direction: column; 
  gap: var(--size3);
  align-items: center;
}

.footer p {
  color: var(--main-white);
}

.footer p b {
  text-decoration: underline;
}

.modal-header {
  padding: var(--size2);
  font-size: var(--h4);
  color: var(--main-white);
}

.role:link {
  text-decoration: none;
}

.role {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size1) var(--size3);
  border-bottom: 2px solid var(--second-black);
  font-size: var(--h2);
  color: var(--main-white);
}

.role:last-child {
  border-bottom: none;
  padding-bottom: var(--size2)
}

.roles {
  display: flex;
  flex-direction: column;
  gap: var(--size2)
}