.student-view {
  padding: var(--size3);
  display: flex;
  flex-direction: column;
  gap: var(--size2)
}

.student-view button:first-child {
  align-self: flex-end;
}

.message-container {
  padding: var(--size3);
  display: flex;
  flex-direction: column;
  gap: var(--size3)
}

.profile {
  display: flex;
  padding: var(--size2);
  gap: var(--size2);
  border-bottom: 2px solid var(--second-black);
  color: var(--main-white);
}

.profile:last-child {
  border-bottom: none;
}
.ranking-container {
  display: flex;
  flex-direction: column;
  gap: var(--size3);
}

.ranking-container .ranking-title {
  color: var(--main-white);
}

.ranking-users {
  display: flex;
  flex-direction: column;
  gap: var(--size2);
}

.senpai-students {
  display: flex;
  flex-direction: column;
  gap: var(--size2)
}

.senpai-students__title {
  color: var(--app-color)
}

.apprentice-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apprentice-info__name {
  display: flex;
  align-items: center;
  color: var(--main-white);
  gap: var(--size2);
}

.apprentice-container {
  background-color: var(--second-main);
  padding: var(--size2);
  border-radius: var(--border)
}

.apprentice-container:link{
  text-decoration: none
}

.apprentice-info__name p {
  display: contents;
}

.senpai-points {
  color: var(--main-white)
}