.create-class {
  padding: var(--size3) var(--size3) var(--size5) var(--size3);
  display: flex;
  flex-direction: column;
  gap: var(--size3)
}

.submit {
  margin-top: var(--size4);
}

.create-class__header {
  color: var(--main-white);
  font-size: var(--h3);
}

.create-class__form {
  display: flex;
  flex-direction: column;
  gap: var(--size3) 
}

.profile {
  display: flex;
  padding: var(--size2);
  gap: var(--size2);
  border-bottom: 2px solid var(--second-black);
}

.profile:last-child {
  border-bottom: none;
}

.profile p {
  color: var(--main-white);
  font-size: var(--h2)
}

.create-class__classes__select {
  display: flex;
  flex-direction: column;
  gap: var(--size2)  
}

.create-class__classes__select__label {
  color: var(--main-white);
  font-weight: 500;
}

.create-class__topics {
  color: var(--main-white);
  font-size: var(--h2);
  display: flex;
  flex-direction: column;
  gap: var(--size3)  
}

.create-class__topics__topic {
  display: flex;
  flex-direction: column;
  gap: var(--size2);
  /* border-bottom: 2px solid var(--second-white); */
  /* padding: var(--size3) 0; */
}

.create-class__topics__topic__action {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.create-class__topics__topic__action p {
  color: var(--second-white);
}

.create-class__topics__topic__action button {
  border: none;
  background: none;
}

.create-class__topics__topic__action button img {
  width: 25px;
}

.create-class__topics__topic__activities {
  display: flex;
  flex-direction: column;
  gap: var(--size2)   
}

.create-class__topics__topic__activity {
  background: var(--second-main);
  border-radius: 4px;
  padding: var(--size1) var(--size3);
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.create-class__topics__topic__activity-container {
  display: flex;
  width: 100%;
  gap: var(--size2);
  align-items: center;
}

.create-class__topics__topic__activity-container button {
  border: none;
  background: none;
  padding-right: 5px;
}

.activity-mode {
  display: flex;
  align-items: center;
  gap: var(--size2)
}

.activity-mode p{
  color: var(--second-white);
  font-size: var(--h2);
}