.evaluate-student {
  padding: var(--size3);
  display: flex;
  flex-direction: column;
  gap: var(--size3)
}

.topics {
  display: flex;
  flex-direction: column;
  gap: var(--size4);
}

.topic {
  border-left: 3px solid var(--app-color);
  padding-left: var(--size2);
  display: flex;
  flex-direction: column;
  gap: var(--size3)
}

.topic h3 {
  color: var(--app-color);
}

.activity-tag {
  color: var(--main-white);
  font-weight: 500
}

.activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size2)
}

.activity div, p {
  flex-grow: 1;
}
.activity div, p {
  width: 100%;
}

.submit {
  margin: var(--size5) 0;
}

.state-options {
  padding: var(--size1) var(--size2);
  color: var(--second-white);
  border-bottom: 2px solid var(--second-black);
}
.state-options:last-child {
  border-bottom: none;
}

.form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__header h3 {
  color: var(--second-white);
  font-size: var(--h3);  
}

.form__header h2 {
  color: var(--main-white);
  font-size: var(--h4);  
}

.activity-state {
  color: var(--second-white);
}

.comments {
  color: var(--second-white);
  padding: var(--size2) var(--size3);
  display: flex;
  flex-direction: column;
  gap: var(--size2)
}

.comment-btn {
  border: none;
  background-color: var(--app-color);
  padding: var(--size2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment button{
  border: none;
  background: none;
  height: fit-content;
}

.comment--edition {
  max-width: 80%;
}

.add-comment-container {
  padding: var(--size4) var(--size2) var(--size2) var(--size2);
}

.add-comment-container textarea {
  width: 100%;
  min-height: 100px;
  border-radius: var(--border);
  background: none;
  color: var(--main-white);
  font-size: var(--h2);
  padding-left: .5em;
  outline: none;
}

.evaluate-student__header {
  display: flex;
  justify-content: space-between;
  background: var(--main-black);
  padding: var(--size3);
  position: sticky;
  top: 0;
  z-index: 5;
  border-bottom: 2px solid var(--second-black);
}

.evaluate-student__header > :nth-child(1), .evaluate-student__header > :nth-child(2) {
  width: fit-content;
}
.evaluate-student__header > :nth-child(2) {
  padding: var(--size1) var(--size2);
}