.bar-wrapper {
  display: flex;
  border-radius: 100px;
  overflow: hidden;
  gap: var(--size2);
}

.stage {
  flex-grow: 1;
  height: var(--size2);;
  background-color: var(--second-white);
  display: flex;
  overflow: hidden;
}

.activity {
  flex-grow: 1;
  border-right: 3px solid var(--main-black);
}

.activity:last-child {
  border-right: none;
}