.progress-bar:link {
  text-decoration: none;
}

.progress-bar {
  background-color: var(--second-main);
  border-radius: var(--border);
  padding: var(--size2);
  padding-bottom: var(--size3);
  display: flex;
  flex-direction: column;
  gap: var(--size2);
  box-shadow: var(--soft-shadow);
}

.header {
  display: flex;
  justify-content: space-between;
}

.header h3{
  font-weight: 600;
  color: var(--app-color);
  font-size: var(--h2);
}

.header p{
  color: var(--second-white);
  font-size: var(--h1);
}

.bar-wrapper {
  display: flex;
  border-radius: 100px;
  overflow: hidden;
  gap: var(--size2);
}

.stage {
  flex-grow: 1;
  height: var(--size2);;
  background-color: var(--second-white);
  display: flex;
  overflow: hidden;
}

.footer {
  display: flex;
  align-items: center;
  gap: var(--size1);
  color: var(--second-white);
  align-self: flex-end;
  font-size: var(--h1)
}

.activity {
  flex-grow: 1;
  border-right: 3px solid var(--main-black);
}

.activity:last-child {
  border-right: none;
}